.card {
	margin-top: 8px;
}

.components-button.is-button {
	/* line-height:auto; */
	height: auto;
}

.valet-link-single-container {
	display: flex;
	max-width: 99%;
	border-radius: 8px;
}
.valet-link-single-container div {
	flex: 1;
}
.valet-link-single-container div a {
	flex: 1;
	display: inline-flex;
	margin-right: 18px;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0;
}

.valet-links-loader {
	display: block;
	margin: 0 auto;
	width: 30px;
	border: none;
}

.valet-edit-link-container .valet-edit-link-input-container {
	display: inline-block;
	margin-right: 12px;
}

.valet-edit-link-input, .valet-edit-link-input label {
	display: inline-block;
	margin-right: 12px;
}

.valet-edit-link-input .valet-edit-url,
.valet-edit-link-input .valet-url {
	width: 500px;
}

.valet-edit-link-input .valet-edit-title,
.valet-edit-link-input .valet-title {
	width: 250px;
}

.valet-link-single-container .components-button-group button,
.valet-edit-link-container .components-button-group button
{
	margin-right: 12px;
}

.valet-link-single-container.card {
    /* margin-top: 14px; */
    padding-top: 15px;
}