.speed-log-container {
	margin-top: 1.5rem;
}

.single-speed-log {
	background-color: #FFF;
	padding: 1.5rem;
	margin: 0 0 1rem 0;
}

.valet-support.search-wrapper {
	margin: 1em 0;
}

#search-object-type {
	font-size: 12px;
	line-height: 1;
	min-height: 25px;
	margin-left: 5px;
}

.valet-support.search-input-text {
	min-height: 26px;
	font-size: 12px;
}

.valet-support.search-button {
	margin-left: 0.6em;
}

.valet-support.no-list {
	margin: 2em 1em;
	font-weight: bold;
}

.valet-support.no-list {
	margin: 2em 1em;
	font-weight: bold;
}

.single-log-container {
	padding: .25rem;
}

.single-speed-log {
	display: flex;
}

.single-log-first-container, .single-log-second-container {
	flex: 1;
}

.single-log-first-container{
	text-align: left;
}

.single-log-second-container > div:last-child{
	text-align: right;
}