.report-container label {
	margin-left: 1.5em;
	line-height: 10px;
	font-size: 14px;
}
.report-container label {
	margin-left: 1.5em;
}
.report-container button.button.button-primary, .custom-date-range-container {
	margin-top: 1em;
	margin-left: 8em;
}